@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html>
<head>
    <title>SmartPlan</title>
    <meta charset="utf-8">
    <meta name=”viewport” content=”width =device-width, initial-scale=1″>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/about.css">
    <style>
        .navbar {
            overflow: hidden;
            background-color: #1d59ba;
            position: fixed;
            top: 0;
            width: 100%;
            border-radius: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 8%;
            color: white;
            text-align: center;
            background-color: #1d59ba;
        }

        .header {
            padding: 40px;
            text-align: center;
            background: #1abc9c;
            color: black;
            font-size: 30px;
            background-color: #5998ff;
        }

        .container {
            padding: 60px;
            font-size: 15px;
            margin-top: 50px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg navbar navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><font color="#73c2fb">Smart</font><font color="#EE82EE">Plan</font></a>
            </div>
    </nav>

    <!-- <div class = "header">
      <h2>За Нас</h2>
    <p> Повече за екипа: </p>
    </div> -->

    <div class="container">
        <ol type="I">
            <li><b>Ангел</b> – Единият от нашите разработчици, Ангел Седмаков, който направи от графичните изображения и елементи във вече функциониращо приложение. Неговата цел след създаването на приложението е да намери всички проруски в кода чрез Selenium.</li>
            
            <li><b>Деси-Слава</b> – Вторият от нашите разработчици, Деси-Слава Асенова, която се включи в разработката на графичния дизайн, както и в разработката на приложението от гледната точка за структурирането на кода, чрез което помогна за бързото и ефективно реализиране на проекта.</li>
            
            <li><strong>Христо</strong> – Един от двамата графични дизайнери, които изграждат визуалната част от сайта и разположението на елементите в приложението като: форма, текст и позициониране на елементите, за да бъдат лесно достъпни до всички потребители. </li>
            
            <li><strong>Алекс</strong>- Другият графичен дизайнер, който отговаря за цветовете, формите и разположението на елементите в приложението, също така и набиране на графичните изображения в приложението.Имайки в предвид придобите му професионални умения на програмата за графична обработка Photoshop, с което допринася за елегантния вид на приложението.</li>
            
            <li><b>Йорданка</b> – Беше част от дизайнерския отдел, включвайки се в търсенето на качествени изображения и в доброто им позициониране, с което помагаше на останалите дизайнери, за да могат по-добре да структурират елементите в сайта, с цел подобряване на изгледа.</li>
        </ol>
    </div>
        <div class="footer">
            <font color="#1d59ba"> <a href="#"><br/> </a></font>
            <font color="white">Copyright © SmartPlan. Всички права запазени.</font>
        </div>

</body>
</html> 